@model WebProgramlamaOdev2.Models.Urunler

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Details</h1>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAcıklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAcıklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="UrunListeleAdmin">Back to List</a>
</div>*@
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.UrunAdi)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UrunAcıklama)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UrunFiyat)</th>
                                <th scope="col"></th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tm-product-name">@Html.DisplayFor(model => model.UrunAdi)</td>
                                <td>@Html.DisplayFor(model => model.UrunAcıklama)</td>
                                <td>@Html.DisplayFor(model => model.UrunFiyat)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
