@model WebProgramlamaOdev2.Models.Urunler

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAcıklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAcıklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="UrunListeleAdmin">Back to List</a>
</div>
