@inject LanguageService language

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebProgramlamaOdev2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/templatemo-style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebProgramlamaOdev2.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" asp-append-version="true">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-xl">
			<div class="container h-100">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index"><h1 class="tm-site-title mb-0">BABU GİYİM</h1></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto h-100">
						<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Urun" asp-action="UrunIndex"><i class="fas fa-shopping-cart"></i>@language.GetKey("Ürünler")</a></li>
						<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-address-book"></i>@language.GetKey("İletişim")</a></li>
						<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="far fa-user"></i>@language.GetKey("Hesap")</a></li>
						<li class="nav-item"><a asp-controller="navbar" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="nav-link"><i class="fa-sharp fa-solid fa-flag-usa"></i>Türkçe</a></li>
						<li class="nav-item"><a asp-controller="navbar" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"><i class="fa-sharp fa-solid fa-flag-usa"></i>İngilizce</a></li>
												@*<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><i class="far fa-sign-in"></i>Login</a></li>*@
					</ul>
					<ul class="navbar-nav"><li class="nav-item"><a class="nav-link d-block" asp-area="" asp-controller="Account" asp-action="Login"><b>@language.GetKey("GirişYap")</b></a></li></ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - WebProgramlamaOdev2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
